@font-face {
    font-family: 'OpenSans-Regular';
    src: url('lib/font-awesome-4.5.0/font/OpenSans-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

*{
    margin:0;
    padding:0;
}

html{
    width:100%;
    overflow-x:hidden;    
}

body{
    font-size: 12px;
    font-family: "OpenSans-Regular";
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: #000000;//设置为黑色
}

/*nav部分*/
#menu, #menu ul {
    margin: 0;
    padding-right: 120px;
}

#nav {
    background:#76C7C0;
    padding:12px 0;
}

#nav .nav-bottom{
    position: relative;
    top: 12px;
    width: 1340px;
    height: 10px;
    background: url(../images/ruler.png) center bottom repeat-x;
}


#menu a {
    float: left;
    padding: 19px 30px 19px 20px;
    color: #e4f4f2;
    text-transform: uppercase;
    font: bold 12px Arial, Helvetica;
    text-decoration: none;
    text-shadow: 0 1px 0 #000;
}

.home{
    background:#62a29e;
    margin:0px 0;
    border-radius: 10px;
    box-shadow: 0 1px 0 #528b86;
}


#menu li:hover > a {
    color: #fafafa;
    background:#e8645a;
    margin:0px;
    border-radius: 10px;
    box-shadow: 0 1px 0 #528b86;
}

img.hide {
    opacity: 0;
}

#menu li:hover > a  img.hide{
    opacity: 1;/*当鼠标滑过li标签时就出现，注意出现的时间*/
}

.logo{
    display:inline-block;
}

.img01{
    padding-left: 130px;
}

#menu li {
    float: left; 
    position: relative;
}

#menu ul {
    margin: 20px 0 0 0;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 46px;
    left: -12px;
    z-index: 1;    
    background: #e2534b;   
    border-radius: 10px;
    transition: all .2s ease-in-out;
}

#main1{
    float:right;
}

#menu li:hover > ul {
    opacity: 1;
    visibility: visible;
    margin: 15px;
}

#menu ul ul {
    top: 0;
    left: 150px;
    margin: 0 0 0 20px;
    box-shadow: 1px 0 0 rgba(255,255,255,.3);      
}

#menu ul li {
    float: none;
    display: block;
}


#menu ul a {    
    padding: 10px;
    width: 110px;
    display: block;
    white-space: nowrap;
    float: none;
    text-transform: none;
}

#menu ul a:hover {
    background-color: #e5655d;/*二级菜单中鼠标滑过时的颜色*/
}

/*制作出三角指向标*/
#menu ul li:first-child > a:after {
    content: '';
    position: absolute;
    left: 20px;
    top: -6px;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #e2534b;
    border-radius: 3px 3px 0 0;
}

#menu ul ul li{
    padding:auto;
}

#menu ul{
    padding-right: 0px;
}


/*轮播部分*/
.case{
    background:#7f8c8c;
    height:400px;
    overflow:hidden;
    width:1366px;
    margin:0 auto;
}

.case_box{
    position:relative;
    margin:0px 0px;
    width:1366px;
    height:470px;
    overflow:hidden;
    background:#7f8c8c;
}

.case_box p{
    z-index:2;
    position:absolute;
    text-indent:-9999px;
    top:40%;
    cursor:pointer
}
.case_box .prev,.case_box .next{
    width: 50px;
    height: 57px;
    border:0 1px 1px 0;
    border-radius: 5px; 
    box-shadow:1px 1px 1px;
}

.case_box .prev{
    text-indent:-9999px;
    background:url(../images/prev.png) no-repeat;
    left:5px;
}

.case_box .next{
    background:url(../images/next.png) no-repeat;
    right:24px;
}

.case_box ul li{
    width:1400px;
    height:470px;
    background-color: #AFB7B8;
    display: inline-block;
}

.casetitle{
    display:inline-block;
    font-size: 30px;
    font-weight: bolder;
    background:#e2534b;
    border:1px solid #e2534b;
    border-radius: 5px;
    margin:120px 580px ;
    padding:5px 10px;
    color: #ffffff;
}

.casetext{
    width:500px;
    background:#3f4646;
    font-size: 20px;
    border-radius: 5px;
    margin:-100px auto;
    padding:5px 10px;
    color: #bfc1c1;
}
li.one,li.three{
    display: inline-block;
    background: #b0b8b9;
    position: relative;
    top: 23px;
    left: 500px;
    width: 60px;
    height: 6px;
}

li.two{
    display: inline-block;
    background: #e2534b;
    position: relative;
    top: 23px;
    left: 575px;
    width: 60px;
    height: 6px;
}

li.three{
    left: 650px;
}

/*介绍部分*/

div#intro {
    display:inline-block;
    position: relative;
    top: 30px;
    width: 1170px;
}

.introtitle {
    display: inline-block;
    font-size: 30px;
    font-family: OpenSans;
    position: relative;
    left: 150px;
    top: 65px;
    font-weight: bolder;
}

.introtext {
    font-size: 15px;
    font-family: OpenSans;
    display: inline-block;
    position: relative;
    left: 150px;
    top: 65px;
}

.view {
    display: inline-block;
    width: 170px;
    background: #e8645a;
    border: 1px solid #e8645a;
    text-align: center;
    border-radius: 5px;
    font-weight: bold;
    position: relative;
    left: 30px;
    bottom: 20px;
    font-size: 25px;
    padding:5px 10px;
    color:#fff;
    position: relative;
    left: 200px;
    top: 45px;
}

#services{
    padding:20px 115px 75px;
}

a.Serlogo {
    display: inline-block;
    height: 200px;
}

.serlogo {
    display: inline-block;
    border-bottom: 4px solid  #e5e6e6;
    border-radius: 5px; 
    width: 275px;
    height: 305px;
    background-color: #f8f8f8;
    position: relative;
    top: 85px;
}

.serlogo:hover{
    background-color: #ffffff;
}

.icon{
    width:56px; 
}

i.fa.fa-thumbs-up,i.fa.fa-key,i.fa.fa-flag,i.fa.fa-flask{
    display: inline;
    width: auto;
    height: auto;
    line-height: normal;
    vertical-align: baseline;
    background-image: none;
    background-position: 0% 0%;
    background-repeat: repeat;
    margin-top: 0;
    font-size: 56px;
}

i.fa.fa-thumbs-up:hover,i.fa.fa-key:hover,i.fa.fa-flag:hover,i.fa.fa-flask:hover{
    color: #e2534b;
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    left: 100px;
    top: 50px;
    color: #62bdbd;
}

.stitle {
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
    color: #7f8787;
    position: relative;
    left: 90px;
    bottom: 60px;
}

.stext {
    width: 250px;
    text-align: center;
    font-size: 16px;
    position: relative;
    bottom: 35px;
}

.read {
    background: #76c7c0;
    width: 200px;
    text-align: center;
    border: 1px;
    border-radius: 3px;
    font-size: 30px;
    position:relative;
    top:-5px;
    left:28px;  
    color：#fdf5f4;
}

.read a{
    text-decoration: none;
}

.read:hover{
    background:#e8645a;
}

.toptitle {
    padding: 120px 600px 0px 530px;
    width: 700px;
    font-size: 30px;
    color: #e1524b;
    font-weight: bolder;
}

.toptext{
    padding: 30px 350px  80px 300px;
    width: 800px;
    font-size: 15px;
    color:#a6a6a6;
    font-weight: bold;
}

.leftimg {
    top: 10px;
    left: 150px;
    position: relative;
    width: 370px;
    height: 259px;
    background: url(../images/lr.png) center center no-repeat;
}

.centerimg{
    position: relative;
    left: 430px;
    top: -330px;
    width: 570px;
    height: 360px;
    z-index: 2;
    background: url(../images/center.png) center center no-repeat;
}

.rightimg{
    top: -604px;
    left: 900px;
    position: relative;
    width: 370px;
    height: 259px;
    background: url(../images/lr.png) center center no-repeat;
}

div#Center {
    position: relative;
    top: 75px;
    right: 50px;
}

.us{
    width: 200px;
    display:inline-block;
    position: relative;
    bottom: 50px;
}

.ustitle {
    font-size: 20px;
    font-weight: bold;
    color: #879393;
    padding:20px 0px 20px 0;
}


.table1,.table2{
    color:#879393;
    line-height: 20px;  
}

.table1,.table2{
    font-size: 15px;
    color:#ffffff;
}

div#Bottom {
    margin: 20px 135px;
}

#bottom .us ul li{
    list-style-type:none;
    list-style-image: url(../images/logo11.png);
}

.skitext .us .testemoial{
    display:inline-block;
    float: left;
}

.skitext {
    width: 600px;
    padding: 20px 250px;
    position: relative;
    bottom: 230px;
}

.skitext a{
    text-decoration: underline;
    color: red;
}

.skiimg {
    position: relative;
    bottom: 240px;
    left: 230px;
}

.skiimg img{
    margin:5px 15px;
}

div#client {
    position: relative;
    bottom: 310px;
}

.client {
    font-size: 20px;
    font-weight: bold;
    color: #879393;
    position: relative;
    bottom: 430px;
    right: -900px;
}

.clitext {
    position: relative;
    bottom: 400px;
    width: 200px;
    left: 900px;
}
i.fa.fa-arrow-left, i.fa.fa-arrow-right{
    color: #ffffff;
}
i.fa.fa-arrow-left, i.fa.fa-arrow-right{
    font-size: 30px;
    position: relative;
    left: 1170px;
    top: -17px;
    width: 30px;
    background-color: #98a3a3;
    border-radius: 3px;
}

i.fa.fa-arrow-left:hover, i.fa.fa-arrow-right:hover{
    background-color: #e2534b;
}

span.name {
    position: relative;
    bottom: 370px;
    left: 920px;
    font-size: 20px;
    font-weight: bold;
    color: #879393;
}

.lintitle{
    font-size: 20px;
    font-weight: bold;
    color: #879393;
    padding:20px 0px 20px 120px;
}

hr{
    margin: -10px 240px 0 300px;
}

#jq{
    background: url(../images/logo10.png);
    /*background-repeat: repeat-x;*/
    margin: 0px 110px 0 85px;
}

div#footer {
    background: #76c7c0;
    width: 2000px;
    color: #fff;
}

div#footcontainer a{
    color:#ffffff;
}

div#footrule {
    position: relative;
    bottom: 277px;
}

.footleft {
    width: 300px;
    position: relative;
    left: 150px;
    font-family: OpenSans;
    color:#ffffff;
    line-height: 30px;
}

span.contact {
    font-size: 24px;
    font-weight: bold;
    font-style: italic;
    line-height: 30px;
}

.footcenter {
    position: relative;
    left: 600px;
    bottom:200px;
}

span.com1,span.com2{
    font-size: 20px;
    font-weight: bold;
    color: #879393;
    position: relative;
    right: 70px;
}
span.com2{
    position: relative;
    right: -70px;
}

.foottable {
    margin-top: 30px;
}

.table1 {
    display: inline-block;
    float: left;
    position: relative;
    left: -75px;
}

.table2 {
    position: relative;
    left: 45px;
}

.footright {
    position: relative;
    top: -340px;
    left: 1000px;
    width: 500px;
}

span.righttitle {
    font-size: 25px;
    font-weight: bold;
    position: relative;
    left: -150px;
}

.date img {
    display: block;
    position: relative;
    left: -40px;
}

span.from {
    font-style: italic;
}

.date {
    position: relative;
    top: 23px;
}

img.img2 {
    position: relative;
    left: -40px;
    top: 35px;
}

span.righttext1 {
    display: inline-block;
    position: relative;
    top: -135px;
    width: 250px;
    left: 50px;
    line-height:15px;
}

span.righttext2 {
    display: inline-block;
    position: relative;
    top: -80px;
    width: 250px;
    left: 50px;
    line-height:15px;

}
div#footcontainer {
    position: relative;
    left: -30px;
    background: #76c7c0;
    top: -280px;
}

span.day {
    font-size: 15px;
    color: #4a7c78;
}

.footerbottom {
    background: #6ab3ac;
    position: relative;
    top: -330px;
}

span.mark {
    font-size: 15px;
    position: relative;
    top: -5px;
    left: 140px;
}

div.bottomimg {
    display: inline;
    position: relative;
    left: 1000px;
}

.spe{
    width: 30px;
}